*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16;
    
    
}

body{
    text-align: center;
   background-color: antiquewhite;
   color: #1d1a17;
   margin-left: 80px;
   margin-right: 80px;
    
}


nav{
    background-color: #f7900a;
    padding: 15px;
    margin: 15px 80px 80px 80px;   
}

nav ol{
    list-style: none;
    padding: 0px;
  }

nav ol li{
    display: inline;
    margin: 20px;
}